@import "../../global.scss";
.about {
  margin-top: 15em;
  h1 {
    font-size: 50px;
    color: $mainColor;
    font-weight: bolder;
    @include Tablet {
      font-size: 25px;
    }
    @include mobile {
      font-size: 20px;
    }
  }
}

.about-underline {
  margin-bottom: 12em;
}

.section-center {
  background-color: $mainColor;
  border-radius: 10px;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 12px 12px 16px 0 rgb(0 0 0 / 64%),
    -8px -8px 12px 0 rgb(0 0 0 / 64%);
  @include mobile {
    flex-direction: column;
    img {
      margin-bottom: 30px;
    }
  }
}

.about-info {
  width: 50%;
  padding: 2em;
  color: white;
  text-align: justify;
  font-weight: bold;
  background: rgba(255, 254, 254, 0.2);
  backdrop-filter: blur(10px);
  background-clip: padding-box;
  box-shadow: 12px 12px 16px 0 rgb(0 0 0 / 64%) inset,
    -8px -8px 12px 0 rgb(0 0 0 / 64%) inset;
  overflow: hidden;
  padding: 20px;
  border-radius: 10px;
  transition: all 1s ease;
  &:hover {
    background-color: white;
    color: $mainColor;
    transform: scale(1.1);
    box-shadow: 12px 12px 16px 0 rgb(0 0 0 / 64%),
      -8px -8px 12px 0 rgb(255 255 255 / 30%);
  }
  @include mobile {
    font-size: 12px;
    width: 90%;
  }
}

.underline {
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  background: linear-gradient(90deg, #cccfcf, $mainColor 48%, #cccfcf);
  @include Tablet {
    width: 5em;
  }
  @include mobile {
    width: 3em;
  }
}

.hero-photo {
  width: 30%;
}

.skill-resume {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 80px;
  @include mobile {
    flex-direction: column;
    .btn-box {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  background-color: $mainColor;
  border: none;
  padding: 8px;
  border-radius: 8px;
  height: 50px;
  overflow: hidden;
  width: 200;
  border: none;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25) inset,
    -8px -8px 12px 0 rgba(42, 41, 41, 0.3) inset;
  transition: all 1s ease;
  a {
    color: white;
    font-weight: bolder;
    @include mobile2 {
      font-size: 10px;
    }
  }
  &:hover {
    background-color: white;
    box-shadow: 12px 12px 16px 0 rgb(0 0 0 / 64%),
      -8px -8px 12px 0 rgb(255 255 255 / 30%);
    transform: scale(1.1);
    a {
      color: $mainColor;
    }
  }
}
